<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>
      There is a new message from the Referrals contact form.
      The message is sent from <%= "#{ @name }, #{ @email }."%>
    </p>
    <p>
      <%= "#{ @message }."%>
    </p>
  </body>
</html>